<!DOCTYPE html>
<html>
  <head>
    <title>books</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!-- Angular 2.0 dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/Rx.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/angular2-polyfills.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.0/angular2-all.umd.js"></script>
    <!-- services -->
    <script src="js/services/books.service.js"></script>
    <!-- models -->
    <script src="js/models/book.model.js"></script>
    <!-- components -->
    <script src="js/components/book-details.component.js"></script>
    <script src="js/components/book-form.component.js"></script>
    <script src="js/components/book-list.component.js"></script>
    <script src="js/components/app.component.js"></script>
    <!-- app -->
    <script src="js/main.js"></script>
  </head>
  <body>
    <ng-app>Loading Book Reviews...</ng-app>
  </body>
</html>
