body {
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header span {
  font-size: 18pt;
}

main {
  padding: 2rem;
}

#books-new label,
#books-new input,
#books-new textarea {
  width: 100%;
}

#books-new input,
#books-new textarea {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.button {
  background: #a84138;
  border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #fff;
  padding: 1rem;
}

.button:hover {
  background: #c24947;
}
