<div id="book-list">Loading Books</div>

<script>
  var interval = 1000 * 60 * 5; // 5 minutes

  ReactDOM.render(
    React.createElement(BookList, null),
    document.getElementById('book-list')
  );
</script>
