<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>books</title>
    <script src="vendor/react.0.14.0.min.js"></script>
    <script src="vendor/react-dom.0.14.0.min.js"></script>
    <script src="vendor/react-router.2.0.0.min.js"></script>
    <script src="vendor/jquery.2.1.1.min.js"></script>
    <!-- React components -->
    <script src="js/components/book-listing.js"></script>
    <script src="js/components/book-list.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
